header {
  background-color: lightblue;
  height: 40px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}